body{
    
    background-color: rgb(154, 235, 192);
    font-family: 'Inconsolata', monospace;
 }

 .header_div{
    background-color: rgb(232, 227, 155);
    color: rgb(220, 20, 143);

 }

 .header_div p{
    font-family: 'Roboto', sans-serif;
    color: rgb(238, 149, 125);
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
    
 }
 .main_div button {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
 }
 .copy_right_footer{
    position: fixed;
    color:rgb(139, 208, 225);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color:antiquewhite;
   line-height: 2.5;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(203, 135, 235);
 }